body {
	font-size: 12pt;
}

h1 {
	margin: .5em 0em .5em 0em;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
}

table td, table th {
	border: 2px solid black;
	padding: .5em;
}

.server_message {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

a {
	font-size: 1.5em;
	color: black;
}